<%- additional_styles 'gauges' -%>
<%- additional_js 'raphael.2.1.0.min', 'justgage.1.0.1.min', 'gauges' -%>

<div class='container'>
  <h1 class='page-header'>Program Sessions <small>- Sept. 20th, 2012</small></h1>
  
  <div class='clearfix group' data-color-group='opt1'>
    <div id='femaleGauge' class='gauge gauge-large gender female'     data-max='400' data-value='50' data-title='Female Candidates'></div>
    <div id='maleGauge' class='gauge gender male'                     data-max='400' data-value='150' data-title='Male Candidates'></div>
    <div id='attendedGauge' class='gauge attendance attended'         data-max='400' data-value='250' data-title='Attended'></div>
    <div id='nonAttendedGauge' class='gauge attendance non-attended'  data-max='400' data-value='350' data-title='Non-Attended'></div>
  </div>
  <hr>
  <div class='clearfix group' data-color-group='opt2'>
    <div id='femaleGauge1' class='gauge gauge-large gender female'     data-max='400' data-value='50' data-title='Female Candidates'></div>
    <div id='maleGauge1' class='gauge gender male'                     data-max='400' data-value='150' data-title='Male Candidates'></div>
    <div id='attendedGauge1' class='gauge attendance attended'         data-max='400' data-value='250' data-title='Attended'></div>
    <div id='nonAttendedGauge1' class='gauge attendance non-attended'  data-max='400' data-value='350' data-title='Non-Attended'></div>
  </div>
  <hr>
  <div class='clearfix group' data-color-group='opt3'>
    <div id='femaleGauge2' class='gauge gauge-large gender female'     data-max='400' data-value='50' data-title='Female Candidates'></div>
    <div id='maleGauge2' class='gauge gender male'                     data-max='400' data-value='150' data-title='Male Candidates'></div>
    <div id='attendedGauge2' class='gauge attendance attended'         data-max='400' data-value='250' data-title='Attended'></div>
    <div id='nonAttendedGauge2' class='gauge attendance non-attended'  data-max='400' data-value='350' data-title='Non-Attended'></div>
  </div>
  <hr>
</div>