<%- additional_styles 'hover_effects' -%>
<%- additional_js 'jquery.hoverfold', 'hover_effects' -%>

<div class='main grid'>
  <div class='view'>
    <div class='view-back'>
      <span data-icon='a'>566</span>
      <span data-icon='b'>124</span>
      <a href='#'>→</a>
    </div>
    
    <img src='http://placehold.it/300x200' />
  </div>
  
  <div class='view'>
    <div class='view-back'>
      <span data-icon='a'>566</span>
      <span data-icon='b'>124</span>
      <a href='#'>→</a>
    </div>
    
    <img src='http://placehold.it/300x200' />
  </div>
  
  <div class='view'>
    <div class='view-back'>
      <span data-icon='a'>566</span>
      <span data-icon='b'>124</span>
      <a href='#'>→</a>
    </div>
    
    <img src='http://placehold.it/300x200' />
  </div>
</div>